.App{

background-image: url("images/clouds.jpg");
width: 100vw;
height: 100vh;
position: relative;
background-color:black;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;

}
.location{

  color: white;
  display: flex;
  align-items: center;
  margin-left: 50em;
  font-weight: 100px;
}
.temp{
  color: white;
  display: flex;
  align-items: center;
  margin-left: 50em;
  font-weight: 100px;

}

.p{
  font-size: 1.6rem;
}
.hi{
  font-size: 6rem;
}